<p>Hello, New comments have been added to <%= @idea.title %> </p>

 <br>
 <p>New comment to the idea titled: <%= link_to @idea.title, idea_url(@idea) %></p>
 <br>
 <p>The comment is: <%= @comment.body %></p>
 <br>
 <p>Regards,</p>
 <br>
 <p>Don</p>